.modal-content {
    border: none;
    border-radius: 22px;
}

.deletemodal,
.addpeople {
    .modal-dialog {
        max-width: 411px;
    }
}

.littmodal {
    .modal-dialog {
        max-width: 387px;
    }
}

.closemodal {
    position: absolute;
    right: 20px;
    top: 20px;
    outline: none;
    background: url('../img/close-modal.svg') no-repeat center / 100%;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
}

.deletemodal__content,
.littmodal__content {
    padding: 40px 40px 35px 40px;

    .title {
        margin-bottom: 15px;
        color: #10284D;
        font-size: 22px;
        line-height: 120%;
        font-weight: 500;
    }

    .descr {
        margin: 0;
        color: #2C4469;
        font-size: 15px;
        line-height: 160%;
    }
}

.deletemodal__mainpic,
.littmodal__mainpic {
    max-width: 71px;
    max-height: 71px;
    margin-bottom: 20px;
}

.deletemodal__btns,
.littmodal__btns {
    margin-top: 34px;

    a.orangebtn {
        height: 38px;
        max-width: 143px;
        font-size: 14px;
        line-height: 100%;
        border: 1px solid #F58220;
    }
}

// form
.addpeople {
    .addpeople__content {
        padding: 30px;
    }
}

.modalform {
    .inputfield {
        margin-bottom: 20px;

        label {
            margin-bottom: 5px;
            font-size: 13px;
        }

        input {
            height: 40px;
            padding-left: 15px;
            font-size: 12px;
            border-width: 1px;
        }
    }
}

.addpeople__title {
    margin-bottom: 25px;
    color: #10284D;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
}

.addpeoplebtn {
    .orangebtn {
        border: none;
        width: 126px;
        height: 38px;
        font-size: 14px;
        line-height: 100%;
    }
}

@media(max-width:575.8px) {
    .deletemodal .modal-dialog {
        margin: 0.5rem auto;
    }

    .deletemodal .modal-dialog {
        max-width: 300px;
    }

    .deletemodal__content {
        padding: 30px 20px 25px 20px;
    }

    .deletemodal__mainpic {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 10px;
    }

    .deletemodal__content .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .deletemodal__btns a.orangebtn {
        max-width: 125px;
    }

    .addpeople .modal-dialog {
        margin: 0.5rem auto;
        max-width: 300px;
    }

    .addpeople__title {
        margin-bottom: 15px;
    }

    .addpeople .addpeople__content {
        padding: 30px 20px;
    }

    .modalform .inputfield {
        margin-bottom: 15px;
    }
}

// TASK MODAL

.taskmodal {
    .modal-dialog {
        max-width: 1165px;
    }
}

.taskmodal__content {
    width: 100%;
    max-width: calc(100% - 358px);
    flex: 0 0 calc(100% - 358px);
    padding: 40px;
    border-right: 1px solid #E7E9ED;
    height: 560px;
    overflow: auto;
    transition: 0.5s;
}

.taskmodal__details {
    width: 100%;
    max-width: 358px;
    flex: 0 0 358px;
    transition: 0.5s;
    overflow: hidden;
}

.taskmodal__header {
    .taskmodal__id {
        margin-bottom: 6px;
        color: rgba(68, 92, 129, 0.57);
        font-size: 14px;
        line-height: 130%;
        font-weight: 500;

        i {
            width: 16px;
            height: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: #65ace3;
            transform: translateY(-2px);

            img {
                max-width: 10px;
                max-height: 10px;
            }
        }
    }

    .taskmodal__title {
        margin-bottom: 15px;
        color: #081B40;
        font-size: 25px;
        line-height: 160%;
        font-weight: 500;
        outline: none;
        border-radius: 3px;
        border: 1px solid transparent;

        &:focus {
            border: 1px solid rgb(101 172 227);
        }
    }

    .taskmodal__header-select {
        max-width: 174px;
        width: 100%;
    }
}

.openteskcontent__description {
    padding: 25px 0 10px 0;

    .title {
        margin-bottom: 10px;
        color: #10284D;
        font-size: 14px;
        line-height: 160%;
        font-weight: 500;
    }
}

.adddescrtextfield {
    resize: none;
    height: 30px;
    width: 100%;
    outline: none;
    transition: 0.3s;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #10284D;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;


    &:focus {
        height: 60px;
        padding: 5px 10px;
        border-color: #C3C6D5;
    }

    &::placeholder {
        color: #10284D;
        font-weight: 300;
    }
}

.openteskcontent__comments>.title {
    margin-bottom: 10px;
    color: #10284D;
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
}

.commentbox {
    .commentbox__img {
        width: 100%;
        max-width: 33px;
        flex: 0 0 33px;

        .commentbox__ava {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            border: 2px solid #fff;
            text-transform: uppercase;
            overflow: hidden;
            font-size: 13.16px;
            line-height: 160%;
            color: #fff;
            font-weight: 500;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .commentbox__cont {
        width: 100%;
        max-width: calc(100% - 33px);
        flex: 0 0 calc(100% - 33px);
        padding: 7px 0 0 5px;
    }

    .commentbox__title {
        color: #10284D;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 11px;

        span {
            display: inline-block;
            margin-left: 5px;
            color: #ADB0BF;
            font-size: 10px;
            line-height: 140%;
            font-weight: 400;
        }
    }

    .commentbox__descr {
        color: #10284D;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 5px;
    }

    .comment__sett {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: rgba(68, 92, 129, 0.57);
                font-size: 10px;
                line-height: 130%;
                transition: 0.3s;

                &:hover {
                    color: #081B40;
                }
            }
        }
    }
}

.openteskcontent__commenttextfield {
    padding-top: 20px;

    textarea {
        resize: none;
        border: 1px solid #C3C6D5;
        border-radius: 10px;
        outline: none;
        width: 100%;
        height: 84px;
        font-size: 13px;
        line-height: 140%;
        color: #10284D;
        padding: 10px;

        &::placeholder {
            color: #AAABB1;
        }
    }

    .commentbtns {
        padding-top: 15px;

        .orangebtn {
            width: 143px;
            height: 38px;
            margin-left: 15px;
            font-size: 14px;

            &.white {
                border-width: 1px;
            }
        }
    }
}

.toggleopentask {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 2;
    background: #F6F7FB;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.12);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 352px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-180deg);

    &.rotate {
        transform: rotate(0);
        right: 0;
    }
}

.taskmodal__details {
    padding: 54px 30px 30px 30px;
}

.taskmodal__details-title {
    margin-bottom: 25px;
    color: #10284D;
    font-size: 15px;
    line-height: 160%;
    font-weight: 500;
}

.taskmodal__detailslist {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        .rolerow {
            width: 100%;
            max-width: 80px;
            flex: 0 0 80px;
            color: #10284D;
            font-size: 13px;
            line-height: 160%;
            display: inline-block;
            font-weight: 500;
        }

        .taskrole {
            width: 100%;
            max-width: calc(100% - 80px);
            flex: 0 0 calc(100% - 80px);
        }
    }
}

.taskrole {
    .taskrole__selected {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 4px 8px;
        border-radius: 10px;

        .ava {
            width: 100%;
            max-width: 33px;
            flex: 0 0 33px;
            height: 33px;
            border: 2px solid #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 13.16px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 33px;
        }

        .name {
            padding-left: 5px;
            color: #10284D;
            font-size: 14px;
            line-height: 140%;
        }

        &.active {
            border: 1px solid #F58220;
        }

        input.name {
            outline: none;
            width: 100%;
            width: calc(100% - 33px);
            flex: 0 0 calc(100% - 33px);
            border: none;
        }
    }

    .taskrole__userlist {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: #FFFFFF;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.11);
        border-radius: 9px;
        z-index: 3;
        padding: 5px 0;
        display: none;

        li {
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                padding: 4px 10px;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: 0.3s;

                .ava {
                    width: 100%;
                    max-width: 33px;
                    flex: 0 0 33px;
                    height: 33px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 13.16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 33px;
                    background: #DFE1E6;
                }

                .name {
                    padding-left: 5px;
                    color: #10284D;
                    font-size: 14px;
                    line-height: 140%;
                    width: 100%;
                    max-width: calc(100% - 33px);
                    flex: 0 0 calc(100% - 33px);
                }

                &:hover {
                    background: #F3F4F8;
                }
            }

            &:last-child {
                padding-top: 5px;
                border-top: 1px solid #E7E9ED;

                a {
                    .name {
                        color: #7B879B;
                        transition: 0.3s;
                    }

                    &:hover {
                        .name {
                            color: #10284D;
                        }
                    }
                }
            }
        }
    }
}

.taskmodal__detailslist>li {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.roletasktime {
    width: 100%;
    max-width: calc(100% - 33px);
    flex: 0 0 calc(100% - 33px);
    color: #10284D;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
}

.taskmodal__content.big {
    max-width: 100%;
    flex: 0 0 100%;
    border: none;
}

.taskmodal__details.hide {
    max-width: 0;
    flex: 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

.taskmodal__detailswrap {
    width: 298px;
}

.closemodal {
    z-index: 11;
}

@media(max-width:1199.8px) {

    .taskmodal .modal-dialog {
        max-width: 900px;
    }

    .taskmodal__details {
        max-width: 300px;
        flex: 0 0 300px;
    }

    .taskmodal__content {
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
    }

    .taskmodal__header .taskmodal__title {
        font-size: 21px;
    }

    .taskmodal__header .taskmodal__id {
        font-size: 12px;
    }

    .taskmodal__content {
        padding: 30px;
    }

    .taskmodal__content {
        height: 540px;
    }

    .taskmodal__details {
        padding: 40px 20px 20px 20px;
    }

    .taskmodal__detailswrap {
        width: 260px;
    }

    .toggleopentask {
        right: 290px;
    }

}

@media(max-width:991.8px) {

    .taskmodal .modal-dialog {
        max-width: 700px;
    }

    .taskmodal__details {
        max-width: 220px;
        flex: 0 0 220px;
    }

    .taskmodal__content {
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
    }

    .taskmodal__detailswrap {
        width: 180px;
    }

    .taskmodal__detailslist>li {
        flex-wrap: wrap;
    }

    .taskmodal__detailslist li .rolerow {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .taskmodal__detailslist li .taskrole {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .taskrole .taskrole__selected {
        padding: 0;
    }

    .toggleopentask {
        right: 210px;
    }

}

@media(max-width:767.8px) {

    .taskmodal .modal-dialog {
        max-width: 500px;
    }

    .position-relative {
        flex-wrap: wrap;
    }

    .taskmodal__content,
    .taskmodal__details {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .taskmodal__content {
        height: auto;
    }

    .toggleopentask {
        display: none;
    }

    .taskmodal__detailswrap {
        width: 100%;
    }

    .taskmodal__details {
        padding-top: 0;
    }

    .taskmodal__content {
        border: none;
    }
}

@media(max-width:575.8px) {
    .modal-dialog {
        margin: 0.5rem auto;
    }

    .taskmodal .modal-dialog {
        max-width: calc(100% - 20px);
    }

    .taskmodal__header .taskmodal__title {
        font-size: 18px;
    }

    .taskmodal__content {
        padding: 30px 20px;
    }









}

// Profile & Settings/
#profilesett .modal-content {
    .proffsett__body {
        max-height: 530px;
        overflow-y: auto;
    }
}

.profilesett {
    .modal-dialog {
        max-width: 708px;
    }
}

.nav-tabs,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link {
    border: none;
}

.nav-link {
    padding: 0;
    margin: 0 0 -1px 0 !important;
}

.proffsett__header {
    padding: 23px 45px 0 45px;
    border-bottom: 1px solid #EDEAE9;

    .profilesett__title {
        margin-bottom: 27px;
        color: #10284D;
        font-size: 20px;
        line-height: 120%;
        font-weight: 500;
    }

    .nav-item {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link {
        color: rgba(68, 92, 129, 0.57);
        font-size: 15px;
        line-height: 160%;
        font-weight: 500;
        padding-bottom: 4px;
        position: relative;
        transition: 0.3s;

        &:hover {
            color: #445C81;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 0;
            height: 2px;
            width: 0;
            background: #F58220;
            border-radius: 2px;
            transition: 0.3s;
        }

        &.active {
            color: #F58220;

            &::after {
                width: 100%;
            }
        }
    }





}

.proffsett__body {
    padding: 30px 45px 35px 45px;
}

.profilenamesect {
    margin-bottom: 40px;
}

.profilenamesect__photo {
    width: 100%;
    max-width: 69px;
    flex: 0 0 69px;

    input {
        display: none;
    }

    label {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}

.profilenamesect__name {
    width: 100%;
    max-width: calc(100% - 69px);
    flex: 0 0 calc(100% - 69px);
    padding-left: 20px;

    .fl-name {
        color: #10284D;
        font-size: 18px;
        line-height: 160%;
        font-weight: 500;
    }

    .subtitle {
        color: #647CA1;
        font-size: 12px;
        line-height: 160%;
    }
}

.profilenamesect__inputssect {
    flex-wrap: wrap;

    .inputfield {
        width: 100%;
        max-width: calc(50% - 30px);
        flex: 0 0 calc(50% - 30px);

        label {
            font-size: 13px;
            margin-bottom: 7px;
        }

        input {
            height: 39px;
            padding-left: 15px;
            font-size: 13px;
        }

        &.fullwidth {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

.inputfield.reverse textarea {
    order: 2;
    height: 84px;
    outline: none;
    border-radius: 17px;
    border: 2px solid #DBDCE2;
    transition: 0.3s;
    padding-left: 15px;
    font-size: 13px;
    line-height: 160%;
    color: #000;
    resize: none;
    width: 100%;
    padding-top: 5px;

    &:focus {
        border-color: #F58220;

        &+label {
            color: #F58220;
        }
    }
}

.profilenamesect__bottbtns {
    button.orangebtn {
        border: none;
        margin-left: 15px;
    }

    .orangebtn {
        width: 143px;
        height: 38px;
        font-size: 14px;
    }

    .orangebtn.white {
        border-width: 1px;
    }
}


// settings

.settrow {
    margin-bottom: 30px;

    .title {
        margin-bottom: 20px;
        color: #10284D;
        font-size: 16px;
        line-height: 160%;
        font-weight: 500;
    }

    input {
        width: 100%;
        max-width: 278px;
        flex: 0 0 278px;
        height: 40px;
        border: 1.31453px solid #C3C6D5;
        border-radius: 34.8351px;
        font-size: 12px;
        padding-left: 15px;
        outline: none;
    }

    .descr {
        color: #445C81;
        font-size: 13px;
        line-height: 160%;
        margin-bottom: 15px;
    }
}

.notifselect {
    .select2-selection__rendered {
        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url('../img/notif1.svg') no-repeat center / 100%;
            margin-right: 5px;
            vertical-align: middle;
            margin-top: -4px;
        }
    }

    .select2-container--default.select2-container--open {
        .select2-selection__rendered {
            &::before {
                background: url('../img/notif2.svg') no-repeat center / 100%;
            }
        }
    }
}

.modal#profilesett .select2-results__option--selectable {
    padding-left: 34px;
}

.settlabel,
.inputfield .settlabel {
    margin-bottom: 7px;
    color: #445C81;
    font-size: 13px;
    line-height: 160%;
    font-weight: 500;
    display: block;
    width: 100%;
}

.dontnotif {
    input {
        width: 100%;
        max-width: 104px;
        flex: 0 0 104px;
        height: 40px;
        border: 1.31453px solid #C3C6D5;
        border-radius: 34.8351px;
        font-size: 12px;
        padding-left: 15px;
        outline: none;

        &:focus {
            border-color: #F58220;
        }

        &::placeholder {
            color: #AAABB1;
        }
    }

    span {
        width: 100%;
        max-width: calc(100% - 208px);
        flex: 0 0 calc(100% - 208px);
        display: inline-block;
        text-align: center;
        line-height: 40px;
        color: rgba(68, 92, 129, 0.57);
        font-size: 15px;
    }
}

.settcheckfield {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    input {
        display: none;

        &:checked {
            &+label {
                &::before {
                    background-color: #F58220;
                    border: 1px solid #F58220;
                }
            }
        }
    }

    label {
        cursor: pointer;
        color: #445C81;
        font-size: 13px;
        line-height: 160%;
        position: relative;
        padding-left: 23px;

        b {
            font-weight: 500;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            background-image: url('../img/settcheckbox.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 9px;
            position: absolute;
            left: 0;
            top: 2px;
            border: 1px solid #C3C6D5;
            border-radius: 2px;
        }
    }
}

// change password

.settchangepass {
    max-width: 346px;
    margin: 0 auto;

    .title {
        text-align: center;
        margin-bottom: 20px;
        color: #10284D;
        font-size: 16px;
        line-height: 160%;
        font-weight: 500;
    }

    .inputfield {
        label {
            font-size: 13px;
            margin-bottom: 7px;
        }

        input {
            height: 40px;
            font-size: 13px;
            padding-left: 15px;
            border-width: 1.3px;
        }

        .togglepass {
            right: 15px;
            bottom: 9px;
        }
    }
}

.resetpass {
    margin-bottom: 25px;

    a {
        font-size: 12px;
        line-height: 160%;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .fgpass {
        color: #10284D;
    }

    .respass {
        color: #F58220;
    }
}

@media(max-width:991.8px) {

    .profilesett .modal-dialog {
        max-width: 600px;
    }

    .profilenamesect__inputssect .inputfield {
        max-width: calc(50% - 15px);
        flex: 0 0 calc(50% - 15px);
    }

    .profilenamesect {
        margin-bottom: 20px;
    }

    .settrow .title {
        margin-bottom: 10px;
    }

    .settrow {
        margin-bottom: 20px;
    }

    .settrow .notifselect .select2-container {
        width: 100% !important;
    }

}

@media(max-width:767.8px) {
    .profilesett .modal-dialog {
        max-width: 500px;
    }

    .proffsett__header {
        padding: 23px 25px 0 25px;
    }

    #profilesett .modal-content .proffsett__body {
        padding: 30px 25px 35px 25px;
    }

    .notifselect {
        margin-bottom: 15px;
    }

    .dontnotif {
        max-width: 300px;
    }

}

@media(max-width:575.8px) {
    .profilesett .modal-dialog {
        max-width: 400px;
        width: calc(100% - 30px);
    }

    .proffsett__header .profilesett__title {
        font-size: 18px;
    }

    .proffsett__header {
        padding: 25px 15px 0 15px;
    }

    .proffsett__header .nav-link {
        font-size: 14px;
        font-weight: 400;
    }

    .profilenamesect__photo {
        max-width: 55px;
        flex: 0 0 55px;
    }

    .profilenamesect__photo label {
        width: 55px;
        height: 55px;
    }

    .profilenamesect__inputssect .inputfield {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .profilenamesect__inputssect .inputfield label {
        margin-bottom: 5px;
    }

    .inputfield {
        margin-bottom: 15px;
    }

    .settrow .select2-container {
        width: 100% !important;
    }

    .modal#profilesett .select2-results__option--selectable {
        padding-left: 14px;
    }

    .resetpass {
        flex-wrap: wrap;

        a {
            display: block;
            width: 100%;
        }
    }

    #profilesett .modal-content .proffsett__body {
        padding: 30px 15px 35px 15px;
    }

    .settrow input {
        max-width: 100%;
    }

}


// LOGOUT

@media(max-width:575.8px) {
    .littmodal {
        .modal-dialog {
            max-width: 300px;
            margin: 0.5rem auto;
        }
    }

    .littmodal__mainpic {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 10px;
    }

    .littmodal__content {
        padding: 30px 20px 25px 20px;
    }

    .littmodal__content .title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .littmodal__btns a.orangebtn {
        max-width: 125px;
    }

}